<!DOCTYPE html>

<html>
	<head>
		<meta charset="utf-8">
	</head>
	<body>
		<h1><a href="applicaton1.html">D.W Web</a></h1>
		<h2>Hello i'm Dongwon</h2>
	
		<strong><a href="/hello/dongwon">hi dongwon</a></strong>
	</body>
	<ol>
		<li><a href="1.html">학력</a></li>
		<li><a href="2.html">취미</a></li>
		<li><a href="3.html">TMI</a></li>
		
	</ol>
	
	<br><img src = "C:\Users\황동원\Documents\GitHub\Sea-water\Web_Server\webapp\statics\img\KakaoTalk_20200305_215440034.jpg" width="400" height = "500">
	<br>가나다라마바사<br>아자차카타파하
    <p style="margin-top:40px;">가나다라마바사 이것은 한 단락으로 나누어 진다</p>
    <h3>TMI를 좋아한다</h3>
</html>
